html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */ }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  border: none;
  outline: none; }

.login-page .login-form {
  width: 350px;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.35);
  padding: 20px;
  text-align: center; }
  .login-page .login-form .logo {
    margin-bottom: 30px; }

.login-page .login-form-fields-wrapper {
  padding: 10px; }
  .login-page .login-form-fields-wrapper > * {
    margin: 5px 0; }
  .login-page .login-form-fields-wrapper input {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #d5d5d5;
    background-color: transparent;
    transition: all 0.4s linear;
    width: 100%;
    border-radius: 5px; }
    .login-page .login-form-fields-wrapper input:focus {
      background-color: white;
      border-color: transparent; }
  .login-page .login-form-fields-wrapper button[type='submit'] {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s linear;
    background: linear-gradient(90deg, #24c6dc, #514a9d);
    font-family: 'Varela Round';
    color: white; }
    .login-page .login-form-fields-wrapper button[type='submit']:hover {
      background: linear-gradient(90deg, #139bad, #453d9c); }
    .login-page .login-form-fields-wrapper button[type='submit']:active {
      background: linear-gradient(90deg, #045661, #170c91); }

.page {
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #c21500, #ffc500); }
  .page.center-content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .page.center-content-vertical {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column; }

.logo {
  width: 100%;
  height: 50px;
  font-family: 'Lobster';
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  color: #4776E6; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round'; }

* {
  box-sizing: border-box; }

.link {
  color: darkcyan;
  font-weight: bold;
  font-family: 'Lobster'; }

.form-error {
  color: red;
  font-size: 12px;
  text-align: left;
  margin: 5px 0; }
