.sign-up-page {
  .sign-up-form {
    width: 350px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.35);
    padding: 20px;
    text-align: center;
    
    .logo {
      margin-bottom: 30px;
    }
  }
}
